/**Global styles **/
body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #193511;
  color: #ebebeb;
  margin-bottom: 70px;
}

a {
  text-decoration: none;
  color: #fff;
}

h1, h1 a {
  font-size: 3rem;
  display: block;
  padding-left: 2%;
  color: #fff;
}

.roundedBoarder{
  border-radius: 10px;
}

-------

/**Navbar styles **/
header{
  top: 0;
  z-index: 100;
}
nav {
  align-items: center;
  background-color: #333;
  padding: 1rem;
}

.hamburger {
  display: none;
}

.navMenu {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navMenu li {
  margin-right: auto;
  margin-left: auto;
}

.navMenu a {
  color: #fff;
  text-decoration: none;
}

.navMenuItem{
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

/* Dropdown menu styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 10%;
  background-color: #444343;
  list-style: none;
  margin: 0;
  padding: 12px 16px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 160px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  margin: 10px 0;
  text-align: center;
}

.dropdown-menu a {
  color: #aaa;
  padding: 0.5rem;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #555;
  color: #fff;
}

/* Hamburger menu styles */
@media screen and (max-width: 768px) {
  .navMenu li {
    display: none;
  }

  .hamburger {
    cursor: pointer;
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .dropdown-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 60px 0;
    box-sizing: border-box;
    background-color: #333;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
  }

  .dropdown-menu.show {
    transform: translateX(0);
  }

  .dropdown-menu li {
    margin: 1rem 0;
  }

  .dropdown-menu a {
    padding: 1rem;
  }
}

/* Hamburger menu bar styles */
.bar {
  display: block;
  width: 200%;
  height: 30px;
  background-color: #333;
}


/*Welcome section styles */
.welcomePage {
  display: flex;
  width: 70%;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 1.6;  
}

.textSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textSection button {
  font-family: Poppins, sans-serif;
  margin: 5px;
  padding: 10px;
  border-radius: 5px; 
}

.buttonGrid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.textSection{
  flex: 1;
  padding: 20px;
  height: auto;
  
}

.imageSection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 20px;
  height: auto;
}

.imageSection img {
  object-fit: contain;
  object-position: center;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .welcomePage {
    flex-direction: column;
    width: 80%;
  }
}

/*projectCard styles */
.projectCard {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 1.6;
}

.projectTextSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 20px;
}

.projectImageSection {
  flex: 1;
  padding: 20px;
  align-items: center;
  justify-content: center;
  
}

.projectImageSection img {
  object-fit: contain;
  object-position: center;
  max-width: 100%;
}

.projectButton {
  position: relative;
  display: inline-block;
}

.projectButton .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectButton:hover .overlay {
  opacity: 1;
}

.overlay p {
  color: white;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .projectCard {
    flex-direction: column;
  }

  .projectTextSection,
  .projectImageSection {
    margin: 0;
  }
}

/*footer format*/

footer {
  width: 100%;
  background-color: #333; /* Change to match your navbar color */
  color: #fff; /* Change to match your navbar text color */
  padding: 20px 0;
  position: fixed;
  bottom: 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; /* Change to match your site's max width */
  margin: 0 auto;
  padding: 0 20px;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: #fff; /* Change to match your navbar link color */
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}